
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Shopping Site</title>
<head>
    <style type="text/css">
#imgs{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
</head>
<link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
/>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="./style.css" />
<body>
<header th:replace="header :: header1"></header>
<div class="container mt-5">
    <div class="row">

        <div class="col-5">
            <img id="imgs" class="img-rounded" th:src="${movie.image}"/>
        </div>

        <div class="col-7">
            <h5 class="card-title"><span  th:text="${movie.title}"><b>Movie Name</b></span></h5>
            <p class="card-text">
               <b>Plot: </b>
                <span th:text = "${movie.plot}">Description</span>
            </p>
            <p class="price">
                <b>Actors: </b>
                <span th:text = "${movie.stars}">actors</span>
            </p>
            <p class="genre">
                <b>Genre: </b>
                <span th:text="${movie.genres}">genre</span>
            </p>
            <span class="card-text">Rating:
                </span>
            <span class="card-text" id="rating"
            th:text="${movie.imDbRating}">8.9</span>
            <i style="font-size: 15px" class="fa">&#xf005;</i>

            <form action="addRating.html" method="post">
                <input type="text" size="4" name="rating" pattern="[0-9.]+"/>
                <input type="hidden" value="ProductID" name="productId" />
                <button class="btn btn-warning m-1 ml-5" type="submit">Update Rating</button><br/><br/>
            </form>

            <!--<c:if test="${noVendor}">
                <h5 class="text-danger">Product is out of stock... You can add product to <a href="addToWishlist.html?productId=${product.productId}" >WishList</a></h5>
            </c:if>-->


            <form action="checkout.html" method="post">
                <label for="myMovie">Select an option:</label>
                <select id="myMovie" name="cars" class="nav-item dropdown" onchange="form.submit()">
                    <option value="" th:text = "${movie.status}" selected disabled hidden>Watched</option>
                    <option value="wantToWatch">Want to Watch</option>
                    <option value="watched">Watched</option>
                </select>
            </form>

        </div>
    </div>
</div>
    <div class="row my-3 mx-auto py-auto">
        <div  style="width:600px height:200px">
        <tr th:each="mv,i_mv:${movie.similars}" scope="row" class="row my-3 mx-auto py-auto">
            <a th:href="@{/home/{id}(id=${mv.id})}">
            <th scope="col" class="row my-3 mx-auto py-auto">
                        <div class="row justify-content-md-center">
                            <div>
                                <div class="col">
                                    <img class="img-thumbnail" th:src="${mv.image}" height="200" width="200">

                                </div>
                                <div class="col">
                                    <h2><span th:text = "${mv.title}">Title</span><br></h2>
                                    <span><b>Rating: </b></span>
                                    <span th:text = "${mv.imDbRating}">Rating</span>
                                    <i style="font-size: 15px" class="fa">&#xf005;</i>
                                    <span th:text="${mv.id}"></span>
                                </div>
                            </div>


                        </div>






            </th>
            </a>

        </tr>
        </table>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"
></script>
</body>
</html>